<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OpenEMRSuite">

<parameter name="browser" value="firefrox"></parameter>
  <test thread-count="5" name="LoginTest">
  <parameter name="browser" value="ch"></parameter>
    <classes>
      <class name="com.tieto.test.LoginTest">
      </class>
    </classes>
  </test> <!-- LoginTest -->
  
    <test thread-count="5" name="AddPatientTest">
    <classes>
      <class name="com.tieto.test.AddPatientTest"/>
    </classes>
  </test> <!-- AddPatientTest -->
</suite> <!-- OpenEMRSuite -->
